<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finalproject.markoop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Markoop">
        <activity
            android:name=".EpisodeActivity"
            android:exported="true" />
        <activity
            android:name=".landingPage.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".landingPage.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".DetailNovelActivity"
            android:exported="true" />
        <activity
            android:name=".setting.MyFavNovelActivity"
            android:exported="true" />
        <activity
            android:name=".setting.PublishActivity"
            android:exported="true" />
        <activity
            android:name=".landingPage.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".landingPage.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>