<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finalproject.dean.markoop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Markoop">
        <activity
            android:name="com.finalproject.markoop.DetailNovelActivity"
            android:exported="true" />
        <activity
            android:name="com.finalproject.markoop.setting.MyFavNovelActivity"
            android:exported="true" />
        <activity
            android:name="com.finalproject.markoop.setting.PublishActivity"
            android:exported="true" />
        <activity
            android:name="com.finalproject.markoop.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name="com.finalproject.markoop.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.finalproject.markoop.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>